.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 370px;
  left: 60px;
}

.baloon {
  position: absolute;
  left: 250px;
  top: 150px
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  left: 305px;
  top: 173px;
  text-align: center;
}

.bowser {
  width: 300px;
  position: absolute;
  left: 530px;
  top: 300px;
}
